/* You can add global styles to this file, and also import other style files */
a {
    color: black;
}

a:hover {
    color: rgb(57, 176, 247);
}

a:link {
    text-decoration: none;
}

.container {
    width: 100vh;
    margin-top: 3.5rem;
}

html,body {
    min-height: 100vh;
    min-width: 200px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 60px;
}