<section class="education mt-3">
    <div class="container text-align">
      <h5 class="mt-4 pt-4" style="text-align: left;"><b>EDUCACIÓN</b></h5>
      <div class="row" *ngFor="let estudios of estudiositos">
        <div class="col-2 mt-1">
          <h6 class="mt-0 pt-1"><b>{{estudios.titulo}}</b></h6>
          <img [src]="estudios.imagen" alt="Secundario" class="img-fluid" HSPACE="0" VSPACE="5">
        </div>
        <div class="col-10 mt-2">
          <h6 class="mt-0 pt-4" style="text-align: justify;"><b>{{estudios.institucion}}</b></h6>
          <h6 style="text-align: justify;">{{estudios.descripcion}}</h6>
        </div>
      </div>
    </div>
</section>