<section class="education mt-3">
    <div class="container text-align">
      <div class="row">
        <div class="col-2 mt-1">
          <h5 class="mt-0 pt-1"><b>EDUCACIÓN</b></h5>
          <img [src]="educacion.imagenUno" alt="Secundario" class="img-fluid" HSPACE="0" VSPACE="5">
        </div>
        <div class="col-10">
          <h6 class="mt-4 pt-4" style="text-align: justify;"><b>{{ educacion.tituloUno }}</b></h6>
          <h6 style="text-align: justify;">{{ educacion.institucionUno }}</h6>
        </div>
      </div>
      <div class="row">
      <div class="col-2 mt-1">
        <img [src]="educacion.imagenDos" alt="Argentina Programa" class="img-fluid" HSPACE="0" VSPACE="5">
      </div>
      <div class="col-10">
        <h6><b>{{ educacion.tituloDos }}</b></h6>
        <h6 style="text-align: justify;">{{ educacion.institucionDos }}</h6>
      </div>
      </div>
    </div>
</section>