        <!--Skills-->
        <div class="tab-pane fade" id="list-skills" role="tabpanel" aria-labelledby="list-skills-list">
            <div class="container">
                <form>
                <div class="row my-4">
                    <div class="col-6">
                        <label for="skill-Uno" class="form-label">Skill</label>
                        <input type="text" class="form-control" id="skill-Uno">
                     </div>
                    <div class="col-6">
                        <label for="porcentaje-Uno" class="form-label">Porcentaje</label>
                        <input type="text" class="form-control" id="porcentaje-Uno">
                    </div>
                </div>
                <button type="button" class="btn btn-success">Guardar cambios</button>
                <button type="button" class="btn btn-warning">Actualizar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
                <div class="row my-4">
                    <div class="col-6">
                        <label for="skill-Dos" class="form-label">Skill</label>
                        <input type="text" class="form-control" id="skill-Dos">
                    </div>
                    <div class="col-6">
                        <label for="porcentaje-Dos" class="form-label">Porcentaje</label>
                        <input type="text" class="form-control" id="porcentaje-Dos">
                    </div>
                </div>
                <button type="button" class="btn btn-success">Guardar cambios</button>
                <button type="button" class="btn btn-warning">Actualizar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
                <div class="row my-4">
                    <div class="col-6">
                        <label for="skill-Tres" class="form-label">Skill</label>
                        <input type="text" class="form-control" id="skill-Tres">
                    </div>
                    <div class="col-6">
                        <label for="porcentaje-Tres" class="form-label">Porcentaje</label>
                        <input type="text" class="form-control" id="porcentaje-Tres">
                    </div>
                </div>
                <button type="button" class="btn btn-success">Guardar cambios</button>
                <button type="button" class="btn btn-warning">Actualizar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
                <div class="row my-4">
                    <div class="col-6">
                        <label for="skill-Cuatro" class="form-label">Skill</label>
                        <input type="text" class="form-control" id="skill-Cuatro">
                    </div>
                    <div class="col-6">
                        <label for="porcentaje-Cuatro" class="form-label">Porcentaje</label>
                        <input type="text" class="form-control" id="porcentaje-Cuatro">
                    </div>
                </div>
                <button type="button" class="btn btn-success">Guardar cambios</button>
                <button type="button" class="btn btn-warning">Actualizar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
                <div class="row my-4">
                    <div class="col-6">
                        <label for="skill-Cinco" class="form-label">Skill</label>
                        <input type="text" class="form-control" id="skill-Cinco">
                    </div>
                    <div class="col-6">
                        <label for="porcentaje-Cinco" class="form-label">Porcentaje</label>
                        <input type="text" class="form-control" id="porcentaje-Cinco">
                    </div>
                </div>
                <button type="button" class="btn btn-success">Guardar cambios</button>
                <button type="button" class="btn btn-warning">Actualizar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>